<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerLinks}}
</head>

<body>
    <div class="container-fluid main_menu">

    {{>navbar}}

    <!--main part-->
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div-->
                    <div class="col-md-6 col--12 main_header_right align-items-center">
                        <figure>
                            <img src="images/error404.png" alt="Het" class="img-fluid">
                        </figure>
                        <a href="/"><button>Go Back</button></a>
                    </div>  
                    <!-- right side div-->
                    
                </div>
            </div>
        </div>
    </div>

    <!-- footer part -->
    <footer>
        <p>Created with ♥️ by Het</p>
    </footer>
</body>

</html>